
@{
    ViewBag.Title = "PasswordChanged";
}

<h2>Your Password has been changed successfully!</h2>
<p>@Html.ActionLink("Start Chatting >", "Index", "Chat", null, new { @class = "btn btn-primary btn-lg" })</p>